In [14]:
import pandas as pd
stack = pd.read_csv('C:/Users/User/OneDrive/Desktop/Data analytics/stack-overflow-developer-survey-2024/survey_results_public.csv')
stack.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

In [18]:
#1 Câți respondenți au completat sondajul?

num_respondents = df.shape[0]
print(f"Numărul total de respondenți este: {num_respondents}")

Numărul total de respondenți este: 65437

In [20]:
#2 Câți respondenți au răspuns la toate întrebările?

no_NaN_data = df.dropna()
num_complete_response = no_NaN_data.shape[0]
print(f"Numarul de respondenti care au raspuns la toate intrebarile este: {num_complete_response}")

Numarul de respondenti care au raspuns la toate intrebarile este: 0

In [32]:
#3 Care sunt valorile măsurilor de tendință centrală pentru experiența respondenților (WorkExp)?

mean_WorkExp = stack['WorkExp'].mean()
median_WorkExp = stack['WorkExp'].median()
mode_WorkExp = stack['WorkExp'].mode()
print(f"Mean: {mean_WorkExp}")
print(f"Median: {median_WorkExp}")
print(f"Mode: {mode_WorkExp}")

Mean: 11.46695663901814
Median: 9.0
Mode: 0    3.0
Name: WorkExp, dtype: float64

In [34]:
#4 Câți respondenți lucrează de la distanță?

la_distanta = stack[stack['RemoteWork'] == 'Remote']
num_la_distanta = la_distanta.shape[0]
print(f"Numarul de respondenti care lucreaza la distanta este: {num_la_distanta}")

Numarul de respondenti care lucreaza la distanta este: 20831

In [98]:
#5 Ce procent de respondenți programează în Python?

python_users = stack[stack['LanguageHaveWorkedWith'].str.contains('Python', case = False, na=False)]
num_python_users = python_users.shape[0]
total_respondents = stack.shape[0]
percent_python_users = (num_python_users / total_respondents) * 100
print(f"Procentul de respondenti care programeaza in Pyhton este: {percent_python_users}")

Procentul de respondenti care programeaza in Pyhton este: 47.0605315035836

In [76]:
#6 Câți respondenți au învățat să programeze prin cursuri online?

cursuri_online = stack[stack['LearnCode'].str.contains('Other online resources', case = False, na = False)]
num_cursuri_online = cursuri_online.shape[0]
print(f"Numarul de respondenti care au invatat prin cursuri online este: {num_cursuri_online}")

Numarul de respondenti care au invatat prin cursuri online este: 49654

In [100]:
#7 Dintre respondenții care programează în Python, grupați pe țări, 
#care este valoarea medie și mediană a remunerației (ConvertedCompYearly) în fiecare țară?

python_users = stack[stack['LanguageHaveWorkedWith'].str.contains('Python', case = False, na=False)]
salary_stats = python_users.groupby('Country')['ConvertedCompYearly'].agg(['mean', 'median']).reset_index()
print(salary_stats)

                                  Country           mean    median
0                             Afghanistan    4543.000000    4768.5
1                                 Albania   56295.000000   56295.0
2                                 Algeria    9053.285714    6230.0
3                                 Andorra  193331.000000  193331.0
4                                  Angola       6.000000       6.0
..                                    ...            ...       ...
168  Venezuela, Bolivarian Republic of...   21500.000000    7100.0
169                              Viet Nam   14014.562500   10180.0
170                                 Yemen   10297.333333    5333.0
171                                Zambia   28123.666667   22803.0
172                              Zimbabwe   37500.000000   18000.0

[173 rows x 3 columns]

In [106]:
#8 Ce nivel de educație au cei 5 respondenți cu cea mai mare compensație?

sorted = stack.sort_values(by = 'ConvertedCompYearly', ascending = False)
top_5 = sorted[['ConvertedCompYearly', 'EdLevel']].head(5)
print(top_5)

       ConvertedCompYearly                                         EdLevel
15837           16256603.0    Bachelor’s degree (B.A., B.S., B.Eng., etc.)
12723           13818022.0  Professional degree (JD, MD, Ph.D, Ed.D, etc.)
28379            9000000.0  Professional degree (JD, MD, Ph.D, Ed.D, etc.)
17593            6340564.0    Bachelor’s degree (B.A., B.S., B.Eng., etc.)
17672            4936778.0  Professional degree (JD, MD, Ph.D, Ed.D, etc.)